*{
    margin: 0;
    padding: 0;
}
body{
    position: relative;
}
.container{
    background-color: #1F2937;
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    width: min(400px,80%);
    position: absolute;
    inset: 0;
    margin: auto;
    /* justify-content: center; */
    /* align-items: center; */
    padding: min(80px,9%) min(30px,6%);
    height: fit-content;
    gap: 20px;
}
@media (orientation:landscape){
    .container{
        padding-block: 3%;
        font-size: smaller;
        border-radius: 5px;
    }
}
header{
    display: flex;
    flex-direction: column;
}
h1{
    color: #fff;
    font-family: 'Karla', sans-serif;
    margin-bottom: 3px;
    margin-top: 0;
}
.span-title{
    color:#4ADF86;
    display: block;
}
.span-optional{
    font-size: 10px;
    font-style: italic;
    color: #D5D4D8;
}
main{
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}

p{
    color:#D5D4D8;
    font-size: 12px;
    align-self: flex-start;
    font-style: italic;

}
.error{
    font-size: 10px !important;
    color:red;

}
input[type="number"]{
    padding-left: 8px;
    border-radius: 2px;
}
.label-field{
    display: flex;
    flex-direction: column;
    gap: 3px;

}
label{
    color: #fff;
}
input,select{
    padding: 5px;
}
.pass-generator{
    background-color: #10B981;
    color: #fff;
    border:none;
    padding: 10px 5px;
    border-radius: 5px;
    width: 140px;
    font-size: 12px;
    margin-top: 10px;
    transition: 0.3s all linear;
}
.pass-generator:hover{
    text-shadow: 0 0 3px #fff;
    cursor: pointer;
    color:#10B981;
    box-shadow: 0 0 5px 1px #10B981;
    background-color: #fff;
}
.pass-generator:active{
    transform: scale(0.95);
    box-shadow:none;
    text-shadow: none;
}
.separator{
    padding: 1px;
    background-color: transparent;
    border-top: 3px solid #273549;
    margin-top: 10px;
}
.pass-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    flex-wrap: wrap;
    gap: 10px;
}
.pass-buttons button{
    width: calc(100% / 2.3);
    padding-inline: 15px;
    height: 40px;
    background-color: #273549;
    border: none;
    border-radius: 5px;
    color:#55F991;
    font-size: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    
}
.pass-length{
    appearance: none;
    border: none;
    border-radius: 3px;
    outline: none;
}
@media (orientation:landscape){
    .pass-buttons button{
        height: 30px;
    }
}